
body {
    font-size: 100%;
    font-family: sans-serif;
}

.Container {
    position: relative;
    width: fit-content;
}

.Table {
    display: inline-block;
    margin: 0 10px;
}
.Table .Title {
    margin: 0;
    padding: 5px 0;
    text-transform: capitalize;
    text-align: center;
    font-weight: bold;
}

.Controls {
    display: flex;
    width: 100%;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
}
.Controls .Year {
    font-size: 1em;
}