
body {
    font-size: 100%;
    font-family: sans-serif;
}

.Container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.Table {
    display: flex;
    height: 350px;
    margin: 0 10px;
    flex-direction: column;
    overflow: hidden;
}
.Table .Title {
    margin: 0;
    padding: 5px 0;
    text-transform: capitalize;
    text-align: center;
    font-weight: bold;
}
.Table .Data {
    position: relative;
    width: 300px;
}
.Table .Data .Entry {
    position: absolute;
    left: 20px;
    padding: 2px 5px;
    border-radius: 5px;
    width: 250px;;
}
.Table .Data .Entry .CurrentPosition {
    text-align: right;
    width: 25px;
    display: inline-block;
}
.Table .Data .Entry .CurrentPosition::after {
    content: ".";
}
.Table .Data .Entry .BestPosition {
    margin: 0 5px;
}
.Table .Data .Entry .BestPosition::before {
    content: "(";
}
.Table .Data .Entry .BestPosition::after {
    content: ")";
}
.Table .Data .Entry .Change {
    position: relative;
    top: -1px;
    margin-left: 5px;
    font-size: 1.2em;
}

.Controls {
    display: flex;
    width: 100%;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
}
.Controls .Year {
    font-size: 1em;
}